<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/background.css">
    <link rel="stylesheet" href="./css/criar-carreira.css">
    <script src="./js/jquery-3.7.1.js" defer></script>
    <script src="./js/blockelement.js" defer></script>
    <script src="./js/criar-carreira/nacionalidade.js" defer></script>
    <script src="./js/criar-carreira/geral.js" defer></script>
</head>

<body>
    <div id="div-prosseguir" class="center-flex row absolute-top-center padding0 gap10">
        <p id="txt-prosseguir" class="white padding0">Prossiga com a criação da sua carreira</p>
        <i id="seta-prosseguir" class="fa-solid fa-arrow-right white padding0"></i>
    </div>
    <div id="info-tecnico" class="center-flex column width100 height100">
        <div id="box-info-tecnico" class="center-flex column gap10">
            <label for="input-nome-tecnico" class="white">Nome do Técnico</label>
            <input type="text" name="input-nome-tecnico" id="input-nome-tecnico" class="input white w200px">

            <label for="input-data-carreira" class="white">Ano de Nascimento</label>
            <input type="text" name="input-data-tecnico" id="input-data-tecnico" class="input white w200px">

            <label for="input-nacionalidade-carreira" class="white">Nacionalidade</label>
            <div class="datalist-container">
                <input type="text" name="input-nacionalidade-carreira" id="input-nacionalidade-carreira" class="input white w200px">
                <ul id="list-nacionalidades" class="datalist hidden-datalist">
                    <!-- Preenchido no js -->
                </ul>
            </div>
        </div>
    </div>
    <div id="main-container" class="display-none p7">
        <h3 id="txt-nome-tecnico" class="white text-center"></h3>
        <div id="aparencia-tecnico" class="center-flex column width100 height100">
        </div>
    </div>
</body>

</html>