<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/background.css">
    <link rel="stylesheet" href="./css/home.css">
    <script src="./js/jquery-3.7.1.js" defer></script>
    <script src="./js/home.js" defer></script>
    <script src="./js/musica.js" defer></script>
</head>

<body>
    <audio id="audio-player"></audio>
    <div id="content" class="geral max-height100">
        <div class="modos center-flex column gap40">
            <div id="simular-partida" class="bloco-opcao center-flex row gap10 BK-df-blue-04">
                <h1 class="white w100">Simular Partida</h1>
                <i class="fa-solid fa-futbol fa-xl" style="color: white;"></i>
            </div>
            <div id="criar-carreira" class="bloco-opcao center-flex row gap10 BK-df-blue-04">
                <h1 class="white">Criar Carreira</h1>
                <i class="fa-solid fa-square-plus fa-xl" style="color: white;"></i>
            </div>
            <div id="carregar-carreira" class="bloco-opcao center-flex row gap10 BK-df-blue-04">
                <h1 class="white">Carregar Carreira</h1>
                <i class="fa-solid fa-folder-open fa-xl" style="color: white;"></i>
            </div>
            <div id="configuracoes" class="bloco-opcao center-flex row gap10 BK-df-blue-04">
                <h1 class="white w100">Configurações</h1>
                <i class="fa-solid fa-gear fa-xl" style="color: white;"></i>
            </div>
        </div>
    </div>
</body>

</html>