@font-face {
    font-family: 'Manrope Light';
    src: url(../../assets/fonts/Manrope/Manrope-Light.ttf);
}

@font-face {
    font-family: 'Manrope Regular';
    src: url(../../assets/fonts/Manrope/Manrope-Regular.ttf);
}

@font-face {
    font-family: 'Manrope Medium';
    src: url(../../assets/fonts/Manrope/Manrope-Medium.ttf);
}

@font-face {
    font-family: 'Manrope SemiBold';
    src: url(../../assets/fonts/Manrope/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: 'Manrope Bold';
    src: url(../../assets/fonts/Manrope/Manrope-Bold.ttf);
}

@font-face {
    font-family: 'Manrope ExtraBold';
    src: url(../../assets/fonts/Manrope/Manrope-ExtraBold.ttf);
}

html,
body {
    background-color: #275d8c;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Manrope Regular';

    cursor: default;
}

* {
    box-sizing: border-box;
}

/* Divs -> Blocos */

.geral {
    margin: 0;
    padding: 0;
}

.max-height100 {
    height: 100vh;
    max-height: 100vh;
}

/* Divs -> Blocos */

/* Padding e Margin */

h1 {
    padding: 0;
    margin: 0;
}

.padding0 {
    padding: 0;
}

.p7 {
    padding: 7px;
}

.padding10h {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding40w20h {
    padding: 20px 40px;
}

.padding40w10h {
    padding: 10px 40px;
}

/* Padding */

/* Centralizar e posições */

.flex {
    display: flex;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.gap10 {
    gap: 10px;
}

.gap40 {
    gap: 40px;
}

.display-none {
    display: none !important;
}

.absolute {
    position: absolute;
}

.absolute-top-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Centralizar e posições */

/* Estilos de Divs */

.border-radius30 {
    border-radius: 30px;
}

.opacity0 {
    opacity: 0;
}

/* Estilos de Divs */

/* Altura e Largura */

.width100 {
    width: 100vw;
}

.width100p {
    width: 100%;
}

.width200px {
    width: 200px;
}

.width350px {
    width: 350px;
}

.width340px {
    width: 340px;
}

.height100 {
    height: 100vh;
}

.metade {
    flex: 1;
    width: 50%;
    box-sizing: border-box;
}

/* Altura e Largura */

/* Cores em Classe */

.white {
    color: white !important;
}

.BK-white {
    background-color: white;
}

.black {
    color: black;
}

.BK-black {
    background-color: black;
}

.gray {
    color: gray;
}

.BK-df-blue {
    background-color: rgb(1, 0, 57);
}

.BK-df-blue-04 {
    background-color: rgb(1, 0, 57, 0.4);
}

.df-blue {
    color: #010039;
}

.selected {
    box-shadow: 0 0 15px 5px green;
    transition: box-shadow 0.3s ease-in-out;
}

/* Cores em Classe */

/* Elementos padrão (button, input, etc) */

.input {
    all: unset;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
}

input:disabled {
    background-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

/* Remover o ícone de calendário do Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.datalist-container {
    position: relative;
    width: 200px;
}

.datalist {
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: calc(100% + 2px); /* Ajusta para aparecer logo abaixo do input */
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgb(31, 64, 117, .3);
    border: 1px solid #1F4075;
    color: #f0f0f0;
    border-radius: 4px;
    z-index: 1000;
    display: none;
}

.datalist li {
    padding: 8px;
    cursor: pointer;
    color: #f0f0f0;
}

.datalist li:hover {
    background-color: rgb(31, 64, 117, .5);
}

.hidden-datalist {
    display: none;
}

.visible-datalist {
    display: block;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent; /* Fundo invisível */
}

::-webkit-scrollbar-thumb {
    background-color: #1e1c62; /* Cor da barra de rolagem */
    border-radius: 10px;
}

/* Elementos padrão (button, input, etc) */

/* Outros */

.scrollnone {
    overflow-y: hidden;
    overflow-x: hidden;
}